menu,
ol,
ul {
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;

}

.DateGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bob {

  min-width: 200px;
}

.TagGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
ul {

  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  text-align: left !important;

}
li {

  background-color: green;
  padding: 4px;
  margin-right: 4px;
}
